Center for World University Rankings (CWUR) 
- https://cwur.org/about.php

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from tqdm.autonotebook import tqdm
from postdocsalary.paths import DATA_DIR, ensure_dir
import urllib.request

In [37]:
university_rankings = pd.read_csv(DATA_DIR / 'university_rankings' / 'cwur2022-USA.csv')

In [38]:
number_columns = ['Quality of Education Rank','Alumni Employment Rank','Quality of Faculty Rank','Research Performance Rank', 'World Rank']

In [39]:
for nc in number_columns:
    if university_rankings[nc].dtype == object:
        university_rankings[nc] = np.array([int(i) if i.isnumeric() else np.nan  for i in university_rankings[nc].values])

In [40]:
university_rankings[nc].dtype

dtype('int64')

In [46]:
len(university_rankings)

347

In [41]:
university_rankings[:50]

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0
1,2,Massachusetts Institute of Technology,USA,2,4.0,12.0,2.0,8.0,96.7
2,3,Stanford University,USA,3,10.0,4.0,3.0,2.0,95.1
3,6,Princeton University,USA,4,5.0,15.0,7.0,70.0,92.6
4,7,Columbia University,USA,5,11.0,14.0,10.0,15.0,92.0
5,8,University of Chicago,USA,6,8.0,16.0,27.0,22.0,91.5
6,9,University of Pennsylvania,USA,7,14.0,10.0,42.0,12.0,91.1
7,10,Yale University,USA,8,6.0,36.0,13.0,20.0,90.7
8,11,California Institute of Technology,USA,9,2.0,111.0,8.0,75.0,90.4
9,12,"University of California, Berkeley",USA,10,9.0,60.0,5.0,13.0,90.1
10,14,Cornell University,USA,11,15.0,28.0,18.0,24.0,89.5
11,15,"University of Michigan, Ann Arbor",USA,12,29.0,38.0,79.0,5.0,89.2
12,16,Johns Hopkins University,USA,13,23.0,206.0,22.0,6.0,89.0
13,17,Northwestern University,USA,14,137.0,18.0,46.0,30.0,88.8
14,18,"University of California, Los Angeles",USA,15,44.0,63.0,16.0,14.0,88.6
15,20,Duke University,USA,16,64.0,50.0,17.0,23.0,88.2
16,22,University of Illinois at Urbana–Champaign,USA,17,24.0,132.0,11.0,62.0,87.8
17,23,University of Washington - Seattle,USA,18,67.0,199.0,23.0,9.0,87.6
18,25,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3
19,26,New York University,USA,20,47.0,45.0,38.0,48.0,87.2
20,33,University of Texas at Austin,USA,21,94.0,62.0,14.0,56.0,86.3
21,34,"University of California, San Diego",USA,22,120.0,NaN,12.0,19.0,86.1
22,38,"University of California, San Francisco",USA,23,NaN,NaN,19.0,25.0,85.7
23,39,University of North Carolina at Chapel Hill,USA,24,80.0,102.0,76.0,35.0,85.6
24,40,Dartmouth College,USA,25,53.0,17.0,95.0,273.0,85.5
25,46,University of Minnesota - Twin Cities,USA,26,74.0,313.0,119.0,28.0,85.0
26,47,Washington University in St. Louis,USA,27,128.0,190.0,36.0,47.0,84.9
27,49,Rockefeller University,USA,28,13.0,NaN,6.0,416.0,84.7
28,50,Rutgers University–New Brunswick,USA,29,189.0,115.0,24.0,87.0,84.6
29,51,University of Southern California,USA,30,314.0,131.0,26.0,71.0,84.5
30,52,"University of California, Davis",USA,31,97.0,567.0,65.0,46.0,84.5
31,53,Vanderbilt University,USA,32,374.0,85.0,61.0,67.0,84.4
32,54,Pennsylvania State University,USA,33,293.0,154.0,58.0,53.0,84.3
33,56,Ohio State University,USA,34,124.0,254.0,137.0,37.0,84.2
34,61,Purdue University,USA,35,92.0,89.0,67.0,104.0,83.8
35,62,University of Texas Southwestern Medical Center,USA,36,35.0,NaN,28.0,158.0,83.8
36,66,Brown University,USA,37,73.0,58.0,115.0,132.0,83.5
37,68,University of Colorado Boulder,USA,38,148.0,173.0,48.0,93.0,83.4
38,69,University of Virginia,USA,39,324.0,35.0,182.0,129.0,83.3
39,72,University of Pittsburgh,USA,40,231.0,210.0,262.0,34.0,83.1
40,74,"Texas A&M University, College Station",USA,41,NaN,127.0,68.0,91.0,83.0
41,75,"University of Maryland, College Park",USA,42,113.0,477.0,133.0,61.0,83.0
42,76,Georgia Institute of Technology,USA,43,309.0,194.0,41.0,111.0,82.9
43,82,"University of California, Irvine",USA,44,NaN,1302.0,32.0,103.0,82.6
44,83,University of Rochester,USA,45,63.0,75.0,129.0,159.0,82.5
45,85,Carnegie Mellon University,USA,46,56.0,145.0,37.0,204.0,82.4
46,86,University of Florida,USA,47,318.0,465.0,140.0,59.0,82.4
47,93,University of Arizona,USA,48,480.0,221.0,71.0,106.0,82.1
48,94,Boston University,USA,49,515.0,123.0,215.0,69.0,82.0
49,95,"University of California, Santa Barbara",USA,50,213.0,495.0,25.0,134.0,82.0

In [43]:
university_rankings.sort_values(by='Research Performance Rank')[:20]

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0
2,3,Stanford University,USA,3,10.0,4.0,3.0,2.0,95.1
11,15,"University of Michigan, Ann Arbor",USA,12,29.0,38.0,79.0,5.0,89.2
12,16,Johns Hopkins University,USA,13,23.0,206.0,22.0,6.0,89.0
1,2,Massachusetts Institute of Technology,USA,2,4.0,12.0,2.0,8.0,96.7
17,23,University of Washington - Seattle,USA,18,67.0,199.0,23.0,9.0,87.6
6,9,University of Pennsylvania,USA,7,14.0,10.0,42.0,12.0,91.1
9,12,"University of California, Berkeley",USA,10,9.0,60.0,5.0,13.0,90.1
14,18,"University of California, Los Angeles",USA,15,44.0,63.0,16.0,14.0,88.6
4,7,Columbia University,USA,5,11.0,14.0,10.0,15.0,92.0
21,34,"University of California, San Diego",USA,22,120.0,NaN,12.0,19.0,86.1
7,10,Yale University,USA,8,6.0,36.0,13.0,20.0,90.7
5,8,University of Chicago,USA,6,8.0,16.0,27.0,22.0,91.5
15,20,Duke University,USA,16,64.0,50.0,17.0,23.0,88.2
10,14,Cornell University,USA,11,15.0,28.0,18.0,24.0,89.5
22,38,"University of California, San Francisco",USA,23,NaN,NaN,19.0,25.0,85.7
25,46,University of Minnesota - Twin Cities,USA,26,74.0,313.0,119.0,28.0,85.0
13,17,Northwestern University,USA,14,137.0,18.0,46.0,30.0,88.8
18,25,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3
39,72,University of Pittsburgh,USA,40,231.0,210.0,262.0,34.0,83.1

In [44]:
university_rankings.sort_values(by='Alumni Employment Rank')[:20]

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0
2,3,Stanford University,USA,3,10.0,4.0,3.0,2.0,95.1
6,9,University of Pennsylvania,USA,7,14.0,10.0,42.0,12.0,91.1
1,2,Massachusetts Institute of Technology,USA,2,4.0,12.0,2.0,8.0,96.7
4,7,Columbia University,USA,5,11.0,14.0,10.0,15.0,92.0
3,6,Princeton University,USA,4,5.0,15.0,7.0,70.0,92.6
5,8,University of Chicago,USA,6,8.0,16.0,27.0,22.0,91.5
24,40,Dartmouth College,USA,25,53.0,17.0,95.0,273.0,85.5
13,17,Northwestern University,USA,14,137.0,18.0,46.0,30.0,88.8
10,14,Cornell University,USA,11,15.0,28.0,18.0,24.0,89.5
104,314,Southern Methodist University,USA,105,191.0,31.0,NaN,656.0,76.5
38,69,University of Virginia,USA,39,324.0,35.0,182.0,129.0,83.3
7,10,Yale University,USA,8,6.0,36.0,13.0,20.0,90.7
63,170,University of Notre Dame,USA,64,305.0,37.0,NaN,284.0,79.4
11,15,"University of Michigan, Ann Arbor",USA,12,29.0,38.0,79.0,5.0,89.2
208,933,Claremont McKenna College,USA,209,NaN,39.0,NaN,NaN,70.6
224,1027,Babson College,USA,225,NaN,42.0,NaN,NaN,70.1
256,1201,Menlo College,USA,257,NaN,44.0,NaN,NaN,69.1
19,26,New York University,USA,20,47.0,45.0,38.0,48.0,87.2
211,947,Colgate University,USA,212,NaN,47.0,NaN,1985.0,70.6

In [45]:
university_rankings.sort_values(by='Quality of Faculty Rank')[:20]

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0
1,2,Massachusetts Institute of Technology,USA,2,4.0,12.0,2.0,8.0,96.7
2,3,Stanford University,USA,3,10.0,4.0,3.0,2.0,95.1
9,12,"University of California, Berkeley",USA,10,9.0,60.0,5.0,13.0,90.1
27,49,Rockefeller University,USA,28,13.0,NaN,6.0,416.0,84.7
3,6,Princeton University,USA,4,5.0,15.0,7.0,70.0,92.6
8,11,California Institute of Technology,USA,9,2.0,111.0,8.0,75.0,90.4
4,7,Columbia University,USA,5,11.0,14.0,10.0,15.0,92.0
16,22,University of Illinois at Urbana–Champaign,USA,17,24.0,132.0,11.0,62.0,87.8
21,34,"University of California, San Diego",USA,22,120.0,NaN,12.0,19.0,86.1
7,10,Yale University,USA,8,6.0,36.0,13.0,20.0,90.7
20,33,University of Texas at Austin,USA,21,94.0,62.0,14.0,56.0,86.3
14,18,"University of California, Los Angeles",USA,15,44.0,63.0,16.0,14.0,88.6
15,20,Duke University,USA,16,64.0,50.0,17.0,23.0,88.2
10,14,Cornell University,USA,11,15.0,28.0,18.0,24.0,89.5
22,38,"University of California, San Francisco",USA,23,NaN,NaN,19.0,25.0,85.7
12,16,Johns Hopkins University,USA,13,23.0,206.0,22.0,6.0,89.0
17,23,University of Washington - Seattle,USA,18,67.0,199.0,23.0,9.0,87.6
28,50,Rutgers University–New Brunswick,USA,29,189.0,115.0,24.0,87.0,84.6
49,95,"University of California, Santa Barbara",USA,50,213.0,495.0,25.0,134.0,82.0